/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Press+Start+2P&display=swap');



body{
    font-family:'Press Start 2P', cursive;
}
.main-container{
   height: 100vh;
   background: linear-gradient(rgba(5, 7, 12, 0.50),rgba(5, 7, 12,0.40)),
    url(../img/background.png);
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   
}
.hide{
    display:none;
}

.title{
    padding: 10px;
    margin-top: 2%;
    letter-spacing: 5px;
    border: 5px solid #e411e4;
    border-radius: 10px;
    box-shadow: 0 0 20px #AE00FB, 0 0 40px #AE00FB,
    0 0 80px #AE00FB, 0 -10px 10px #AE00FB ;
}
.title span{
    color:#3EDBF0;
}
.titulo{
    font-family: 'Monoton', cursive;
    color:whitesmoke;
    font-size: 70px;
    text-align: center;
}
.main-form{
    margin-top: 2%;
    width:60%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    border: 5px solid #e411e4;
    border-radius: 10px;
    box-shadow: 0 0 20px #AE00FB, 0 0 40px #AE00FB,
    0 0 80px #AE00FB, 0 -10px 10px #AE00FB ;
}
.form_container_one, .form_container_two, .form_container_three, .form_container_four{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

select{
    font-family: 'Press Start 2P', cursive;
   
}
label{
    color:#3EDBF0;
    margin-bottom: 20px;
    text-align: center;
}
input, select{
    border: 5px solid #e411e4;
    background-color: transparent;
    border-radius: 10px;
    padding:5px;
    box-shadow:0 0 10px #AE00FB, 0 0 10px #AE00FB;
    margin-bottom:10px ;

}
select{
    color:whitesmoke;
}


input[type="submit"]{
    font-family: 'Monoton', cursive;
    color:whitesmoke;
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
}
input[type="submit"]:hover{
    border: 5px solid #04009A;
    box-shadow:0 0 10px #04009A, 0 0 10px #04009A;
    
}

.main-card{
    display:flex;
    flex-direction: column;
    width:80%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.card_question{
   
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Monoton', cursive;
    color:whitesmoke;
    width: 100%;
}

.card_question h2{
    padding-top: 2px;
}



.card_question h2, h3, h4{
  
    font-size: 1vw;
    text-align: center;
}

.card_question span {
  
    font-size: 1vw;
}

.data_container_answer_one p,
.data_container_answer_two p{
    padding: 2px;
    display: flex;
}

.question_one{
  
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 1vw;
    margin: 2px;
    width: 100%;
}


.question_two{
    color:var(--color_three);
    display: flex;
    justify-content: space-around;

    font-size: 2vw;
    margin: 10px;
    width: 30%;
}

.card_final_score{
    background-color: var(--color_two);
    height: 100%;
    width: 100%;
   
  
    overflow-x: hidden;
    transition: .3s; 
}

.next{
    border-radius: 5px;
    font-size: 2vw;
    margin-top: 4%;
    padding: 3px 10px 3px 10px;
    text-align-last: center;
    display: flex;
}

.card_final_score{
    background-color: var(--color_two);
    color:var(--color_three);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var( --font_family_one);
    font-size: 1vw;
    text-align: center;
    height: 100%;
    width: 100%;   
}

.card_final_score div {
    height: 100%;
    padding-top: 5px;
}

.card_final_score a {
    color: var( --color_four);
}
